* {
    font-family: sans-serif;
}

body {
    margin:0;
}

ul.navbar-nav {
    flex-direction: row;
    text-align: center;
    height: 100%;
}

ul.navbar-nav>li {
    width: 25%;
    float: left;
    line-height: 96px;
    font-size: x-large;
}

ul.navbar-nav a {
    padding: 0;
    color: #101010;
    text-decoration: none;
}

ul.navbar-nav>li.dropdown>div.dropdown-menu {
    margin: 0;
}

ul.navbar-nav>li.dropdown:hover>div.dropdown-menu {
    display: block;
    border-color: black;
    padding: 0;
    border-top: none;
    border-radius: 0px 0px 3% 3%;
}

ul.navbar-nav>li.dropdown>div.dropdown-menu>a.dropdown-item {
    text-align: center;
    height: 2em;
    line-height: 2em;
}

.hidden {
    visibility: hidden;
}

/*Legacy*/

header {
    width: 100%;
    height: 96px;
    border-bottom: outset blue 1px;
    background-color: #ffcc00;
    color: #101010
}

header>img {
    width: 25%;
    height: 100%;
    float: left;
    object-fit: contain;
}

nav {
    width: 75%;
    height: 100%;
    float: left;
}

.menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
    height: 100%;
}

.menu>li {
    float: left;
    width: 25%;
    height: 100%;
    line-height: 96px;
    text-align: center;
    font-size: x-large;
}

.innerMenu {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: none;
}

.menu>li:hover>.innerMenu {
    display: block;
}

.innerMenu>li {
    height: 33.5px;
    line-height: 33.5px;
}

.innerMenu>li>a {
    height: 100%;
    width: 100%;
    padding: 5px;
    display: block;
}